name: CI
on:
    push:
      branches:
        - master
    pull_request:

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [3.4]
        # python: [3.5, 3.6, 3.7, 3.8]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}

      - name: Install extra packages for tests
        run: |
          pip install setuptools wheel nose lxml

      - name: Install requirements
        run: |
          pip install -r requirements.txt

      - name: Install package
        run: |
          python setup.py install

      - name: Run tests
        run: nosetests --exe
